.flex-container {
    display: flex;
    height: 30vh;
}

#list1 {
    height: 29vh;
}

#list2 {
    height: 29vh;
}

.flex-child {
    flex: 1;
    border: 2px solid rgb(0, 0, 0);
    width: 512px;
    height: 100%;
}  

.flex-child:first-child {
    margin-right: 20px;
    border: 2px solid rgb(0, 0, 0);
} 

h2 {
    margin: 0px;
}

#horiz {
    display: flex;
    justify-content: space-between;
}

#username {
}

#robotlink {
}

#selrobotdiv {
}
